<div class="container my-5">
    <div class="row mb-4">
      <div class="col-md-6">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h2 class="card-title">
              <i class="icon fas fa-seedling"></i> Message from Chairman
            </h2>
            <p class="card-text">
              "We are happy to introduce a corporate carpool initiative that aligns with our goal of creating a greener future and sustainable commute options for all our employees."
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- Insert LoginSignupComponent here -->
        <app-login-signup></app-login-signup>
      </div>
    </div>
  </div>
  